* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 15px;
  font-family: inter;
}

body {
  background-color: var(--color-bg-900);

  display: flex;
  justify-content: center;
  align-items: center;
}
