/* Colors & Fonts */
:root {
  --primary-bg: #000;
  --secondary-bg: #1c1c1c;
  --text-color: #fff;
  --highlight-color: #ffcc00;
  --font-family: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.5;
}

/* Error styling */
.error {
  color: red;
  font-size: 1.2rem;
  text-align: center;
}

/* Navigation Bar */
.navbar {
  background-color: var(--secondary-bg);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: var(--highlight-color);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

.navbar .nav-links li a:hover {
  color: var(--highlight-color);
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #333;
  color: #fff;
}

.search-bar input::placeholder {
  color: #bbb;
}

.search-bar button {
  background-color: var(--highlight-color);
  border: none;
  padding: 8px 12px;
  color: var(--primary-bg);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #e6b800;
}

/* Main Content */
main {
  padding: 10px;
}

#movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.button-container {
  position: absolute; /* מיקום מוחלט */
  top: 10px; /* נמצא מעל החלק העליון */
  left: 0;
  right: 0;
  text-align: center; /* למרכז את הכפתור */
  z-index: 20; /* לוודא שהכפתור מעל התמונה */
}

.movie {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0;
  text-align: center;
  width: calc(20% - 10px);
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* הוספת גלילה חבויה */
}

.movie:hover .info-container {
  display: block; /* הצג את המידע כאשר מרחפים מעל הסרט */
}

.movie:hover {
  transform: scale(1.05);
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* כוכב */
.favorite-star {
  position: absolute;
  top: 10px; /* מיקום הכוכב למעלה */
  right: 10px; /* מיקום הכוכב בצד ימין */
  font-size: 24px; /* גודל הכוכב */
  cursor: pointer; /* מצביע על כך שאפשר ללחוץ עליו */
  z-index: 20; /* לוודא שהכוכב מעל התמונה */
  transition: color 0.3s ease; /* הנפשה */
}

.favorite-star.favorited {
  color: #ffcc00; /* צבע הכוכב כשזה במועדפים */
}

.favorite-star:hover {
  color: #ffcc00; /* צבע הכוכב בה.hover */
}

.info-container {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  max-height: 100%; /* הגובה המקסימלי של המידע */
  overflow-y: auto; /* גלילה אם המידע גבוה מדי */
  border-radius: 10px; /* קצוות מעוגלים */
  position: absolute;
  z-index: 10; /* ממקם את המידע מעל התמונה */
}

.info-container h2 {
  font-size: 13px;
  padding: 1px;
}

.info-container p {
  font-size: 9px;
  padding: 1px;
}

/* Footer */
footer {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}

/* Responsive */
@media (max-width: 768px) {
  .movie-card-large {
    flex-direction: column;
  }

  .next-videos {
    flex-direction: column;
  }
}
